.main {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #383047;
    max-height: 420px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 7px 7px 10px 3px #24004628;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 24px;
  }
  
  /*checkbox to switch from sign up to login*/
  #chk {
    display: none;
  }
  
  /*Login*/
  .login {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .login label {
    margin: 25% 0 5%;
  }
  
  label {
    color: #f8bf04;
    font-size: 2rem;
    justify-content: center;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
  }
  
  .input {
    width: 100%;
    height: 40px;
    background: #e0dede;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
  }
  
  /*Register*/
  .register {
    background: #f8bf04;
    border-radius: 60% / 10%;
    transform: translateY(5%);
    transition: .8s ease-in-out;
  }
  
  .register label {
    color: #f8bf04;
    transform: scale(.6);
  }
  
  #chk:checked ~ .register {
    transform: translateY(-60%);
  }
  
  #chk:checked ~ .register label {
    transform: scale(1);
    margin: 10% 0 5%;
  }
  
  #chk:checked ~ .login label {
    transform: scale(.6);
    margin: 5% 0 5%;
  }   
  /*Button*/
  .form button {
    width: 85%;
    height: 40px;
    margin: 12px auto 10%;
    color: #f8bf04;
    background: #383047;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s ease-in;
  }
  
  .form button:hover {
    background-color: #f8bf04;
  }


  .fl-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4fc3a1;
}

.fl-table th,
.fl-table td {
    padding: 8px 20px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

.fl-table tbody tr:nth-child(even) {
    background: #f8f8f8;
}

.fl-table tbody tr:last-of-type {
    border-bottom: 2px solid #4fc3a1;
}

.fl-table tbody td {
    font-weight: 500;
    color: #555555;
}

.fl-table tbody tr:hover {
    background: #4fc3a1;
    color: #ffffff;
}

/* Ajouter un style spécial pour la première colonne (N°) */
.fl-table tbody td:first-child {
    border-right: 2px solid #4fc3a1;
}